.main-container{

    background-image: url("https://img.freepik.com/free-vector/wave-background_53876-115944.jpg?w=740&t=st=1698306940~exp=1698307540~hmac=10446e986167fc42c82c1cbd07ba18fd99730c9ddfc72652e11cd5bbc4e3c02c");
    background-size: cover;
    width: 100vw;
    height: auto;
    text-align: center;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  select {
    width: 91%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  

  button.edit-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  button.delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }